.headerContainer {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menuContainer {
  position: relative;
}

.title {
  //font-size: 2rem;
}

.burgerIcon {
  width: 15vw;
  height: 15vh;
}

@media screen and (max-width: 900px) {
  .title {
    //font-size: 1rem;
  }
}
