.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* Adjusts the image links so they go from left to right */
.column-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* controls image sizes */
.image-container {
    width: 50px;
}

.image-container img {
    width: 100%;
    height: auto;
}